!!!5
%html{:lang => "it"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SignUp Inline
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", :integrity => "sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", :rel => "stylesheet"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"}
  %body
    .container-fluid{:style => "padding-left:10%;padding-right:10%;"}
      .row
        .col-lg-6{:style => "margin-top:5%"}
          %center>
            %h3 Login
            %br/
            = form_for(:session, url: login_path) do |f|
              = f.label :email
              = f.email_field :email, class: 'form-control'
              = f.label :password
              = f.password_field :password, class: 'form-control'
              = f.label :remember_me, class: "checkbox inline" do
                = f.check_box :remember_me
                %span Remember me on this computer
              = f.submit "Log in", class: "btn btn-primary"