= form_for @has_power do |f|
  - if @has_power.errors.any?
    #error_explanation
      %h2= "#{pluralize(@has_power.errors.count, "error")} prohibited this has_power from being saved:"
      %ul
        - @has_power.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :room_id
    = f.number_field :room_id
  .actions
    = f.submit 'Save'
