!!!5
%html{:lang => "it"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SignUp Inline
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", :integrity => "sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", :rel => "stylesheet"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"}
  %body
    .container-fluid{:style => "padding-left:10%;padding-right:10%;"}
        - provide(:title, "Edit user")
        %h1 Update your profile
        .row
            .col-lg-12
                = form_for(@user) do |f|
                = render 'shared/error_messages'
                = f.label :username
                = f.text_field :username, class: 'form-control'
                = f.label :email
                = f.email_field :email, class: 'form-control'
                = f.label :password
                = f.password_field :password, class: 'form-control'
                = f.label :password_confirmation, "Confirmation"
                = f.password_field :password_confirmation, class: 'form-control'
                = f.submit "Save changes", class: "btn btn-primary"