
.container-fluid{:style => 'padding-left: 15%,padding-right:15%'}
  .row
    .col-lg-6
      %label
        %h1 USERNAME:
        %p #{@user.username}
      %br
      %label
        %h1 EMAIL:
        %p #{@user.email}
      %br
      =link_to user_achievements_path(@user) do
        %input.btn.btn-sm.btn-success{:type => "submit", :value => "Achievements"}
    .col-lg-6
      %label
        %h1 YOUR ID: 
        %p  #{@hashed}
      %br
      %label
        %h1 REFERRAL LINK:
        %a{:href => "http://inlineapp.com/login"} http://inlineapp.com/#{@hashed}
      %br
      %br
      =link_to edit_user_path(@user)  do 
        %input.btn.btn-sm.btn-warning{:type => "submit", :value => "Edit Profile"}/
      =link_to @user, method: :delete, title: 'Delete User', :data => {:confirm => 'Are you sure you want to delete your profile?'} do
        %input.btn.btn-sm.btn-danger{:type =>"submit", :value => "Delete profile"}/
  .row
    .col-lg-6
      %strong Rooms Attended: 
      %p#rooms-attended
        =@user.rooms_attended
    .col-lg-6
      %br    
      %label 
        %h3 INVITE USER:
        = form_for(@user) do |f|
          .form-group
            %input.form-control{:maxlength => "50",:id => "user_email", :name => "user[email]", :placeholder => "email", :required => "true", :type => "email"}/
            %input.btn.btn-sm.btn-success{:type => "submit", :value => "Invite"}/
