= form_for @prenotazione do |f|
  - if @prenotazione.errors.any?
    #error_explanation
      %h2= "#{pluralize(@prenotazione.errors.count, "error")} prohibited this prenotazione from being saved:"
      %ul
        - @prenotazione.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :room_id
    = f.number_field :room_id
  .field
    = f.label :time_from
    = f.datetime_select :time_from
  .field
    = f.label :time_to
    = f.datetime_select :time_to
  .actions
    = f.submit 'Save'
