%p#notice= notice

%p
  %b User:
  = @prenotazione.user_id
%p
  %b Room:
  = @prenotazione.room_id
%p
  %b Time from:
  = @prenotazione.time_from
%p
  %b Time to:
  = @prenotazione.time_to

= link_to 'Edit', edit_prenotazione_path(@prenotazione)
\|
= link_to 'Back', prenotaziones_path
