%h1 Crea la stanza
%hr/
.row
  .col-md-12.personal-info
    = form_for @room do |f|
      - if @room.errors.any?
        .mx-auto.form-group
          %h4.text-center
            = "#{pluralize(@room.errors.count, "error")} on the form:"
          %ul.mx-auto{:style => 'padding-left: 0px;'}
            - @room.errors.full_messages.each do |message|
              .text-center.alert.alert-danger= message  
      
      .form-group.row
        %label.col-lg-3 Nome Stanza:
        .col-lg-9
          = f.text_field :name, class: 'form-control'
      .form-group.row
        %label.col-lg-3.control-label Tipo di coda:
        .col-lg-9
          .row
            .col-lg-6
              = f.radio_button :fifo, true, :checked => 'true'
              %label.control-label First in first out
            .col-lg-6
              = f.radio_button :fifo, false
              %label.control-label Choose your position
      .form-group.row
        %label.col-lg-3 Max partecipanti
        .col-lg-9
          = f.text_field :max_participants, class: 'form-control'
      .form-group.row
        %label.col-lg-3.control-label Descrizione:
        .col-lg-9
          = f.text_area :description, class: 'form-control', style: 'resize:none;'
      .form-group.row
        = f.text_field :address   , class: 'form-control', id: 'addr_input'
        = f.text_field :latitude  , class: 'form-control', id: 'lats_input'
        = f.text_field :longitude , class: 'form-control', id: 'lons_input'
      .form-group.row
        %label.col-lg-3.control-label Location: 
        #geocoder.col-lg-9
      .form-group.row
        #map
      .form-group.row
        %label.col-lg-3.control-label Visibilità stanza:
        .col-lg-9
          .row
            .col-lg-6
              = f.radio_button :private, false
              %label.control-label Publica
            .col-lg-6
              = f.radio_button :private, true
              %label.control-label Privata
      .form-group.row
        %label.col-lg-3.control-label Definizione temporale:
        .col-lg-9
          .row
            .col-lg-6#time_from_div
              = f.text_field :time_from, class: 'form-control', id: 'inputdateFrom', :placeholder => 'Data inizio...'
            .col-lg-6#time_to_div
              = f.text_field :time_to, class: 'form-control', id: 'inputdateTo', :placeholder => 'Data fine...'
      .form-group.row
        %label.col-lg-3.control-label Ricorrenza evento:
        .col-lg-9
          = f.select_recurring :recurrence, nil, :allow_blank => 'true'
      .form-group.row
        .col-lg-3
        .col-lg-9
          =f.submit 'Submit', class: 'btn btn-primary'
          %span
          =button_tag 'Cancel', type: 'reset', class: 'btn btn-default'
          
%hr/
 
:javascript
  $(document).ready(function(){
    render_map_for_room();
    $('#room_recurrence').addClass("form-control")
    $('#map_div').hide();
    
    $('#map_control').on('click', function(){
      $('#map_div').toggle();
    });
    
    $('#addr_input').hide();
    $('#lons_input').hide();
    $('#lats_input').hide();
    
    $('#reset_location').on('click', function(){
      $('#addr_input').val('');
      $('#lons_input').val('');
      $('#lats_input').val('');
    });
    
    
    var dateFrom = $("#inputdateFrom").flatpickr({ 
      enableTime: true,
      minDate: 'today',
      altInput: true,
      altFromat: "F j, Y",
      dateFormat: 'Y-m-d H:i',
      onChange(selectedDates, dateStr, instance){
        changeDateMinTo(selectedDates)
      }
    });
    
    var dateTo = $("#inputdateTo").flatpickr({
      enableTime: true,
      altInput: true,
      altFromat: "F j, Y",
      dateFormat: 'Y-m-d H:i',
      onChange(selectedDates, dateStr, instance){
        changeDateMaxFrom(selectedDates)
      }
    });

    
    function changeDateMinTo(date){
      dateTo.set('minDate', date[0])
    };
    
    function changeDateMaxFrom(date){
      dateFrom.set('maxDate', date[0])
    };
    
  });
