!!!5
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = yield(:title) 
      | Inline
    = csrf_meta_tags
    = csp_meta_tag

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    /= render 'layouts/header'
    .container
      - flash.each do |message_type, message|
        %div{class: "alert alert-#{message_type}"}= message
      = yield
      /= render 'layouts/footer'